@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700|Roboto+Condensed:400,300,700);
body {
  -moz-font-feature-settings: "lnum";
  -ms-font-feature-settings: "lnum";
  -o-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  margin: 0px;
  padding: 0px;
  font-family: 'roboto';
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body,
html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  overflow: hidden; }

@media (min-width: 800px) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }

  .col {
    display: table-cell; } }
section.artboard {
  width: 1400px;
  height: 700px;
  margin: 20px auto; }

img {
  transition: height 0.3s; }

.collapse-content {
  height: 118px;
  min-width: 90%; }

.hide-section {
  height: 0; }

.table-header {
  margin-bottom: 0; }

.row-container {
  overflow: scroll;
  height: 400px; }
  .row-container div {
    margin: 0; }
  .row-container img {
    max-width: 100%;
    margin: 0;
    margin-top: -3px;
    border-bottom: 1px solid #E6E6E6; }

.cluster-container {
  transition: 0.2s height;
  overflow: hidden; }
